@import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

body {
  background: #f1f1f1;
}

.navbar {
  background: #fff;
  margin-bottom: 20px;
}

.navbar img {
  height: 40px;
  width: 50px;
}

.search-bar {
  border-radius: 1px;
  background: #fff;
  margin-top: 1%;
  margin-bottom: 1%;
}

.search-bar .form-control {
  border-radius: 2px;
  width: 100%
}
.search-bar .btn {
  border-radius: 2px;
  border-color: #d3d3d3;
  background: #f8f8f8;
  width: 20%;
  margin-left: -1px;
  height: 34px;
}

.search-bar .btn:hover {
  border-color: #c6c6c6;
  background: #f0f0f0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.10);
}

.video-player-details {
  background: #fff;
  padding: 8px;
  border: 0;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  margin-top: 10px;
  padding-bottom: 14px;
}

.video-list {
  background: #fff;
  padding: 8px;
  border: 0;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

div.video-list.media {
  overflow: scroll;
}

.video-list-entry {
  font-size: 16px;
  padding: 8px;
}

.video-list-entry:hover {
  cursor: pointer;
}

.video-list-entry-title {
  font-weight: bold;
}

.video-list-entry-title:hover {
  color: #e62117;
  cursor: pointer;
}

.video-list-entry-detail {
  font-size: 12px;
  color: #999;
} 

.video-list-entry-views {
  padding: 3px 0px 6px;
  color: #9a9a9a;
  font-size: 12px;
}

.video-list-entry-views-player {
  padding: 3px 0px 6px;
  color: #9a9a9a;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 4px;
}

.video-icon {
  margin-right: 5px;
}

.left-pad {
  margin-left: 5px;
}

.no-left-padding {
  padding-left: 0px;
}

.player-stat-row {
  margin-bottom: 40px;
}

.video-description-player-box {
  margin-top:30px;
}

.favourites-button {
  padding: 2px 10px;
  margin-top: 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 0px;
  color: #fff;
  background-color: #f13934;
  border-color: #fff9f8;
  display: inline-block;
  float: right;
}

.favourites-button:active { 
    background-color: #e13934;
}

.favourites-button:hover {
  cursor:pointer;
}

.toggle-button {
  margin-top: 8px;
  border-radius: 1px;
  color: #7b7b7b;
  margin-right: 8px;
  font-size: 12px;
  text-align: right;
  padding: 8px 21px 6px 8px;
  background-color: #ffffff;
  border: #eaeaea solid 1px;
  box-shadow: 0px 0.1px 0.1px;
}

.toggle-button-selected {
  margin-top: 8px;
  border-radius: 1px;
  color: #ff5757;
  margin-right: 8px;
  font-size: 12px;
  text-align: right;
  padding: 8px 21px 6px 8px;
  background-color: #ffffff;
  border: #eaeaea solid 1px;
  box-shadow: 0px 0.1px 0.1px;
}
